.video_film{
	width: 80%;
	z-index: 0;
}
.video{
	position:relative;
	display: flex;
	flex-direction: column;
	left: 10%;
}
.img_film_f{
	width: 300px;
	height: 100%;
	min-height: 350px;
}
.film_info{
	display: flex;
}
.actors_film{
	display: flex;
	overflow-x: auto;
	background-color: rgba(0, 0, 0, 0.2);
	width: 400px;
}
.sezons, .serias{
	width: 56.5em;
	display: flex;
	overflow-x: scroll;
}
.sez, .ser{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 1.2em;
}
.serias{
	display: none;
}
.btn_sez{
	width: 6em;
	background: transparent;
	border: none;
	color: white;
}
.sez:hover,.ser:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.form_input{
	display: flex;
	justify-content: space-between;
}
.friends_block{
	width: 80%;
	display: flex;
	flex-direction: column;
}
.friend{
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:rgba(0, 0, 0, 0.2);
}
.footer_film_all{
	width: 100%;
	height: 450px;
	overflow-y: auto;
	font-size: 1.3em;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
}

.comments{
	position: relative;
	left: 10%;
	width: 80%;
	align-items: center;
	margin-top: 1%;
	display: flex;
	flex-direction: column;
	background-color:rgba(0, 0, 0, 0.2);
}
.comment{
	color: white;
	min-height: 50px
	background-color:rgba(0, 0, 0, 0.2);
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
}
.img_commment{
	display: flex;
	width: 100%;
}
.inp_com{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#comment_user{
	width: 100%;
}
.name_reply{
	display: flex;
	justify-content: space-between;
}
.com_text{
	margin-left: 2%;
}
.img_com{
	width: 10%;
	height: 10%;
}
@media (max-width: 768px){
	.film_info{
		flex-direction: column;
	}
	.footer_film_all{
		height: 250px;
	}
	.friend{
		overflow-y: hidden;
		overflow-x: scroll;
		background-color:rgba(0, 0, 0, 0.2);
	}
	.friends_block{
		width: 100%;
	}
	.video_film{
		width: 100%;
	}
	.video{
		left: 0;
	}
	.img_film_f{
		width: 100%;
	}
	.actors_film{
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;
		height: 300px;
	}
	.sezons, .serias{
		width: 100%;
	}
}

@media all and (display-mode: fullscreen) {
	.video_film{
		width: 100%;
		height: 100%;
	}
	.video{
		left: 0;
		height: 100%;
	}
	.btn_friend{
		font-size: 1.2em;
		flex-direction: column;
	}
	.friend{
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		overflow-y: hidden;
	}
	#div_message{
		position: fixed;
		right: 0%;
		top: 0;
		background-color: rgba(255, 255, 255, 0.1);
		height: 90%;
	}
	.webrtc{
		width: 100%;
		position: absolute;
		bottom: 10%;
	}
	.video_people{
		width: 7em;
	}
	.raw{
		grid-template-columns: repeat(1, 1fr);
		position: fixed;
		top: 0;
		left: 0;
		height: 90%;
		overflow-y: scroll;
    	overflow-x: hidden;
	}
	.form-control{
		height: 100%;
	}.form_input{
		position: fixed;
		top: 0%;
		left: 16%;
	}
	.sezons, .serias{
		position: relative;
		left:9em;	}
}
@media all and (display-mode: fullscreen) and (max-width: 768px) {
	.video_film{
		width: 100%;
		height: auto;
	}
	#div_message{
		position: fixed;
		right: 0%;
		top: 54%;
		height: 46%;
		width: 65%;
	}
	.raw{
		grid-template-columns: repeat(2, 1fr);
		top: 54%;
		height: 45%;
	}
	.webrtc{
		width: 100%;
	}
	.form_input{
		position: fixed;
		left: 88%;
		top: 95%;
		z-index: 2;
	}
	.m_s{
		display: flex;
		flex-direction: column;
	}
	.message{
		height: 2em;
	}
	.btn_send{
		width: 81%;
	}
	.sezons, .serias{
		left:0%;
	}
}
@media all and (display-mode: fullscreen) and (max-width: 320px) {
	#div_message{
		top: 27%;
		height: 73%;
		width: 59%;
	}
	.raw{
		grid-template-columns: repeat(1, 1fr);
		top: 27%;
		height: 73%;
	}
}

@media screen and (orientation: landscape) and (max-width: 768px){
	#div_message{
		right: 0%;
		top: 0;
		height: 87%;
		width: 40%;
	}
	.video_film {
		height: 100%;
	}
	.raw{
		grid-template-columns: repeat(1, 1fr);
		top: 0;
		height: 82%;
	}
	.form_input{
		top: 75%;
		left: 94%;
	}
}

@media screen and (orientation: landscape) and (max-width: 320px){
	#div_message{
		height: 52%;
		width: 47%;
	}
	.video_film {
		height: 100%;
	}
	.raw{
		top: 0;
		height: 82%;
	}
	.form_input{
		top: 75%;
		left: 94%;
	}
}