{% extends 'shablons/base.html' %}
{% load static %}

{% block content %}
	<main class="main">
		<p class="about_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis magni nulla amet quisquam excepturi, vero cumque quae ipsam blanditiis! Accusantium nihil dicta corporis vitae voluptatibus enim neque repellat a aliquam.
		Ducimus nulla voluptates ut excepturi illo, repudiandae adipisci in nobis odio. Accusamus dolore, labore iure tempora quis ab. Magnam sequi possimus amet perspiciatis voluptas culpa rem, quae consectetur suscipit nemo.</p>
		<p class="autor_about"><a href={% url "autor" %}>Autor </a>Zavoiovany Igor</p>
	</main>
{% endblock %}
