{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static "films/index.css" %}" >
</head>
<body>
	<main class="main">
		<header>
			<p class="not_wath">Скрита сторінка</p>
		</header>
		<div class="text_autor">
			<h1>My filosofia</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut natus blanditiis explicabo, voluptas asperiores fuga, nobis officiis dolore architecto obcaecati dicta libero minima ipsa. Fugit hic beatae odio consequatur!
			Numquam asperiores, nobis eos, error voluptatum ad quos quod amet libero, unde repudiandae rerum illum. Vitae suscipit quis maiores nam. Impedit praesentium exercitationem dolor natus dolorem quidem neque sint atque.
			Inventore illum expedita commodi rem, possimus corrupti reprehenderit perspiciatis provident impedit delectus sequi culpa accusamus unde dolorum pariatur, nobis? Perferendis iure omnis cumque illo recusandae laboriosam, veritatis fuga. Quibusdam, nulla.
			Odit, ullam ratione voluptatem itaque dolorem labore minima nesciunt repellat numquam maxime voluptates pariatur corrupti recusandae facere, harum. Ex nostrum blanditiis quam dolore ullam hic rem. Quia, magnam iste nemo?
			Porro corporis deserunt officia enim nihil, architecto! Eius unde consectetur cum officia et eum, aut a dicta accusantium ipsam soluta ab sed debitis suscipit pariatur libero consequatur atque aliquam temporibus.
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem vel rem libero, quae vitae minus deserunt iusto illo magni facere sit, consequuntur placeat provident harum accusamus dolor fuga voluptates culpa.
			Ipsum possimus vel odio laborum ullam molestias tempore quas architecto? Voluptates, ut magnam rem asperiores dolore! Repudiandae corporis ipsum nihil eveniet, nam, autem quia, nobis consequuntur blanditiis, dolores inventore quisquam?
			Ex dolorem molestias exercitationem cumque at, id excepturi assumenda quas a debitis ea corrupti similique modi. Minus facere similique sapiente dignissimos quas exercitationem amet maiores, ut, architecto nihil aliquam consequatur.
			In, consequuntur deserunt molestias excepturi doloribus facilis rerum hic, accusamus? Temporibus perferendis ad repellat eos est, omnis id, error aut esse, unde sequi consequuntur earum recusandae voluptatem, quod corrupti similique!
			Maiores fugit corporis hic, officiis magnam ratione quis et libero ullam, repellendus explicabo porro veritatis quaerat possimus quia nostrum quo sapiente! Quasi perferendis unde dolore, consequuntur nobis quia rerum minus.
			Totam, modi. Quis optio dolores, sapiente aliquam fugit ipsum vel amet, corporis fuga placeat repellendus beatae totam culpa eveniet velit earum est. Consectetur doloribus libero consequatur, eius est perferendis atque.
			Veniam harum hic illum ad rem quis quam voluptatum vero voluptatem at qui nisi nam quibusdam dolorem dignissimos dolor totam esse aut, corrupti adipisci soluta eaque minima ut porro dolorum!
			Ad illo dignissimos ullam dolores totam odit dicta, quis commodi vitae quidem quibusdam ut mollitia vero repellendus. Recusandae nihil quod necessitatibus omnis quia. Quidem, quas corporis aspernatur harum tempore dolorem.
			Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Delectus blanditiis quidem quam assumenda vel eius libero, voluptas consequatur quos quasi! Facere cupiditate odit architecto beatae culpa libero. Atque, velit, beatae.
			Laboriosam animi minus rem vel eligendi, dignissimos dolore maxime, cum est nostrum nulla vero saepe quam. Debitis, aliquam quasi rem impedit animi mollitia, reprehenderit eius ea ut excepturi deleniti aperiam.
			Vero accusamus optio voluptatum suscipit natus, iste doloribus iusto odio deleniti nobis, nostrum praesentium quisquam voluptate deserunt in sapiente unde non quo alias officiis. Excepturi iusto earum ut velit, dolor?
			At voluptatem illo vel. Quo cupiditate voluptatum distinctio sequi vitae nam beatae laborum, recusandae amet temporibus aperiam ipsa alias tempore laudantium doloremque, nostrum, hic iusto harum incidunt asperiores. Eveniet, deserunt.
			Nisi totam officia, consectetur blanditiis et quaerat debitis voluptatem nam hic cum ullam voluptates illo, ut perspiciatis reprehenderit. Eligendi debitis ea saepe, fugiat, laboriosam ducimus nulla dolorem voluptas exercitationem magnam?
			Doloribus aperiam harum sint, quas facere id molestiae minus veritatis dicta ipsam rem itaque tempora blanditiis! Sed autem, animi architecto quibusdam, aspernatur natus dolorum ipsum qui ex. Blanditiis error, cupiditate.
			Nesciunt laborum ullam excepturi nulla odit ut at facilis consequuntur sapiente qui quaerat voluptatibus doloremque doloribus est nisi eius, perferendis! Doloremque consequuntur nemo ipsum beatae repellat numquam placeat nobis consequatur!
			Ratione animi voluptas inventore accusantium molestiae aliquid ex, corrupti obcaecati incidunt dolorem consectetur saepe laboriosam, reprehenderit provident sapiente. Eveniet, praesentium. Temporibus aperiam dicta, cupiditate reiciendis sit cum, officia accusamus earum?
			Necessitatibus laudantium iusto, officia velit enim quam, explicabo repellendus dignissimos, vitae a, neque ratione. Odit, non sint aliquid maxime inventore dignissimos dolores aliquam ipsam vitae quam earum ipsum corporis, officiis.
			Repellat commodi cum officiis, deserunt deleniti eaque eveniet possimus perferendis veniam minus autem dolore consequuntur ut nihil! Ipsum, fugiat, mollitia laborum ut facilis molestias quidem laudantium similique! Odit, iure, illo?
			</p>
			<a class='to_site' href={% url "index" %}>To site</a>
		</div>

	</main>
	<hr>

	<style>
		.text_autor{
			text-align: center;
			width: 50%;
			position: relative;
			left: 25%;
			color: #0CB8B2;
			font-size: 1.2em;
		}
		.to_site{
			font-size: 2em;
			text-decoration: none;
			color: gray;
			background-color: green;
			border: 3px solid yellow;
			border-radius: 10px;
		}
		header{
			height: 3em;
			width: 100%;
			background-color: #2E4847;
		}
		.not_wath{
			color: gray;
			font-size: 1.3em;
		}
		html {
			position: relative;
    		bottom: 1em;
		}
	</style>
</body>
</html>
