{% extends 'shablons/base.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static "films/web_rtc_style.css" %}">
	<main class="main main_film">
		<content class="content_film">
			<div class="film_info">
				<img src="{{ film.img_film.url }}" alt="" class="img_film_f">

				<div class="film_desc">
					<p>Name: {{ film.name }}</p><br>
					<div class="genres">
						<p>Genre: &nbsp;</p>
						{% for gen in  film.genres.all %}
							<p> {{ gen }}  &nbsp;</p>
						{% endfor %}
					</div>
					<div class="type">
						<p>Types: &nbsp;</p>
						{% for type in  film.typef.all %}
							<p> {{ type }}  &nbsp;</p>
						{% endfor %}
					</div>
					<br>
					<p>Actors</p>
					<div class="actors_film">	
						{% for actor in  film.actors.all %}
							<div>
								<img class="actor_img" src="{{ actor.image.url }}" alt="">
								<p> {{ actor }} &nbsp;</p>
							</div>
						{% endfor %}
					</div>
					<br>
					<p>Year: {{ film.year }}</p><br>
					<p>Launge: {{ film.country }}</p><br>
				</div>
				<footer class="footer_film_all">
				{{ film.name }}<br>
				{{ film.description }}</footer><br>
			</div>
		</content>
		<div class="video">
			<video id="video_film" class="video_film" controls preload="auto" data-setup="{}">
				<source src="{% url 'stream' film.id %}">
			</video>
		</div>
		{% if reg %}
		<div class="webrtc">
			<div class="webrtc_form" >
				<div class="form_input">
					<div class="col-lg-12">
					    <button onclick='turn_camera(this)' type="button" class="btn btn-success" id="getMedia"><img src="{% static 'films/images/camera_none.png' %}" id='img_camera' class='img_camera'></button>
					</div>
				</div>
				<div class="raw">
				    <div class="col-lg-6">
				    	<p>You: </p>
				    	<video class="video_people" autoplay="true" width="200" id="myVideo"></video>
				    </div>

				    <div class="col-lg-6">
				      <div id="acceptDiv">
				    	<p>Caller: </p>
				        <video class="video_people" autoplay="true" width="200" id="callVideo"></video>
				      </div>
				    </div>
				</div>
		  		<button id="connectButton" type="button" class="btn btn-primary" onclick='connect()'>Create group</button>
				<div class="friends_block">
					<h3 class="friends_h3">Friends</h3>
					<div class="friend">
						{% for f in reg.friends.all %}
							<button value="{{ f.username }}" onclick="conn_user(this)" class="btn_friend">
								<img class="friends_img" src="{{ f.img.url }}" alt="friend">
								<div>
									<p>{{ f.username }}</p>
								</div>
							</button>
							<br>
						{% endfor %}
					</div>
				</div>

			</div>

		  	<div id="div_message">
			    <textarea class="form-control" id="chat-log" cols="100" rows="40"></textarea>
			    <div>
				    <input id="messageInput" class="form-control message" placeholder="message">
				    <button id="sendmesbtn" type="submit" class="btn_send btn-primary" onclick='sendMessage()'>SEND</button>
			    </div>
			</div>

			<script src="{% static 'films/jquery-3.6.0.min.js' %}"></script>

			<script>
				let My_name = '{{ reg.username }}'
				let camera_img = "{% static 'films/images/camera.png' %}"
				let camera_none_img = "{% static 'films/images/camera_none.png' %}"
			</script>
			<script src="{% static "films/index.js" %}"></script>
		</div>
		{% endif %}
		
	</main>
{% endblock %}